* {
    margin: 0%;
    padding: 0%;
}

 #login_form
 {
    padding-top: 10%;
 }

.main .input {
    height: 45px;
    width: 70%;
    border-radius: 10px;
    margin-top: 20px;   
    outline: none;
    padding-left: 20px;
}

.checkbox {
    height: 30px;
    width: 30px;
}

.email {
    height: 40px;
    width: 100%;
    border-radius: 25px;
    position: relative;
    padding-left: 20px;
}

.subscribe_btn {
    padding: 5px 15px;
    position: absolute;
    top: 0%;
    right: 0%;
    height: 40px;
    border-radius: 25px;
    background-color: rgb(54, 96, 213);
    color: #fff;
    font-size: 15px;
}

#login-form button {
    border: 1px solid black;
    padding: 10px 50px;
}