@media(min-width:0px) and (max-width:575px) {
    #serchbar {
        width: 55%;
    }
    #mainSection {
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .product_data
    {
        margin-top: 5%;
        /* z-index: -1; */
    }
    .women_pro
    {
       margin-top: 20%;
    }
    .bagIcon {
        position: relative;
        top: -1%;
        left: 0%;
        color: black;
    }

    .totalCart,.totalCarts{
        position: absolute;
        right:7%;
        padding-top: 9px;
        color: black;
    }

    .discount {
        margin-top: 5%;
    }
    

}

@media(min-width:576px) and (max-width:777px) {
    #mainSection {
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
    .product_data
    {
        margin-top: 5%;
    }
    .bagIcon {
        position: relative;
        top: -1%;
        left: 15%;
        color: black;
    }

    .totalCart,.totalCarts{
        position: absolute;
        right:5%;
        padding-top: 9px;
        color: black;
    }
    .discount {
        margin-top: 5%;
    }
    
}

@media(min-width:778px) and (max-width:991px) {
    #mainSection {
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }
    .product_data
{
    margin-top: 5%;
}
    .bagIcon {
        position: relative;
        top: -1%;
        left: 15%;
        color: black;
    }

    .totalCart,.totalCarts{
        position: absolute;
        right:3.8%;
        padding-top: 9px;
        color: black;
    }
    .discount {
        margin-top: 5%;
    }
    

}

@media(min-width:992px) and (max-width:1200px) {
    #mainSection {
        margin-top: 15%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
    .product_data
    {
        margin-top: 15%;
    }
    .bagIcon {
        position: relative;
        top: -1%;
        left: 15%;
        color: black;
    }   

    .totalCart,.totalCarts{
        position: absolute;
        right:6%;
        padding-top: 4px;
        color: black;
    }
    .discount {
        margin-top: 12%;
    }
    
}

@media(min-width:1201px) and (max-width:1400px) {
    #mainSection {
        margin-top: 10%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
    .product_data
    {
        margin-top: 10%;
    }
    .bagIcon {
        position: relative;
        top: -1%;
        left: 0%;
        color: black;
    }

    .totalCart,.totalCarts{
        position: absolute;
        right:3.5%;
        padding-top: 4px;
        color: black;
    }
    .discount {
        margin-top: 9%;
    }
}