* {
    margin: 0%;
    padding: 0%;
}
a
{
    pointer-events: auto;
}

li {
    list-style: none;
}

#serchbar {
    border-radius: 10px;
    margin-top: 5px;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0%;
    background-color: whitesmoke;
    z-index: 9999;
}

.info {
    display: none;
    position: absolute;
    top: 98%;
    right: -200%;
    background-color: #fff;
    padding: 20px 20px;
}

.info a {
    width: 200px;
    padding: 10px 20px;
    display: block;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    color: black;
}

.collect_info {
    position: relative;
}

.collect_info:hover .info {
    display: block;
}
.card {
    margin: 2px 10px;
    background-color: aqua;
}

.card-title {
    color: red;
}
.card-body
{
    height: 180px;
}
.card-discription,.card-price{
    color:black;
}
.soart-product
{  
    width: 100%;
    position: absolute;
    top: 21%;
}
.soart-box
{
    background-color:#fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-right: 2%;
    padding: 10px;
    z-index: 10;
}
.soart-btn a
{
    padding: 10px 25px;
    border: 2px solid black;
    border-radius:25px;
    background-color: #fff;
    text-decoration:none;
}
.soart-btn
{
    padding: 10px;
    margin-bottom: 2%;

    
}
.dark .card{
    background-color: black;
}
.soart-by
{
    text-align: center;
}
.soart-by button
{
    padding: 10px 35px;
    border: 2px solid black;    
    border-radius:25px;
    background-color: #fff;
    margin:2% auto;
}